* {
    margin: 0;
    padding: 0;

}

.navContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    height: 5vh;
    background-color: darkgoldenrod;
box-shadow:0 3px 10px  rgb(144, 195, 63);
}
 a{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
}

 a:hover{
    color: green;
   border-bottom: 3px  solid;
}